<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/jscript" src="/static/js_form_submit.js"></script>

<link type="text/css" rel="stylesheet" href="/static/Stu_CSS_Submit.css">
<title>信息管理系统</title>
<style>
.div_dpht{background:rgba(100%,100%,100%,0.5) none repeat scroll !important; /*实现FF背景透明，文字不透明*/
background:#FFFFFF; filter:Alpha(opacity=20);/*实现IE背景透明*/}
div p{ position:relative;}/*实现IE文字不透明*/
'.color1{background:#E8CCFF; color:#000000}'
.color2{background: #F5FFFA ;}
.divcss1{width:50px; }
.divcss2{ width:300px;text-align:center;}
.box1{background-image :url (http://www.divcss5.com/img201301/divcss5-logo-2013.gif);
background-repeat : no-repeat;background-position : 5px 6px }
.divcss5-right{float:right} 
img {
max-width:300px;
_width:expression_r(this.width<200px?"auto":"200px");
} 
</style>
</head>
<body class='color2'  style="background-image: url('/static/200815121123445_2.jpg'); background-attachment: fixed">
<nav class="navbar navbar-default ">
  <div class="container-fluid " >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class='pwl_spaceimg' src="http://www.me.uestc.edu.cn/image/logo.png">
      </a>
    </div>

<div class="navbar-text col-lg-5 col-xs-3 col-md-3 text-center  " style='font-size:24px '  >
<strong class="text-center " ><font color="#000000">学生信息管理系统</font></strong>
</div>
</br>
<div class="collapse navbar-collapse divcss5-right">
<a href='http://www.me.uestc.edu.cn' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a>
<a href='http://www.me.uestc.edu.cn/stu/index.php/Login/' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-user" aria-hidden="true">
</span>切换</a>
</div>
</div>
</div>
</nav>
<div >
	<div>   
    	<form method="post" action="#" enctype="multipart/form-data"   onreset="return resetForm()" onsubmit="return checkForm()">
        <div style="text-align:center; margin-bottom:10px; font-size:35px; margin-top:60px"><strong>基本信息表</strong></div>
        	<div class="table1">
                    <div class="line120">
                    	<div class="line40">
                    		<div class="caption">姓名</div>
                        	<div id="student_name">
                            	<input  type="text"   name='name' class="input_style1" placeholder="{{stu.name}}" >
                            </div>
                        	<div class="caption">专业</div>
                        	<div id="student_major">
                            	<select name="major">
                                	<option>{{stu.major}}</option>
                                    <option>电子科学与技术</option>
                                    <option>微电子科学与工程</option>
                                    <option>集成电路设计与集成系统</option>
                                    <option>应用化学</option>
                                </select>
                            </div>
                    	</div>
                    	<div class="line40">
                        	<div class="caption">学号</div>
                       	    <div id="student_number">
                            	{{stu.stu_id}}
                            </div>
                        	<div class="caption">班号</div>
                       	    <div id="student_class">
                            	<input type="text" name='class' style="width:280px; vertical-align:middle;" placeholder="{{stu.class_field}}">
                            </div>
                    	</div>
                    	<div class="line40">
                    		<div class="caption">性别</div>
                        	<div id="student_sex">
                            	<select name="gender">
                                	<option selected>{{stu.gender}}</option>
                                    <option>男</option>
                                    <option>女</option>
                                </select>
                            </div>
                        	<div class="caption">籍贯</div>
                        	<div id="native_place">
                            	<input type="text" placeholder="{{stu.nativeplace}}" name='nativeplace' style="width:120px;vertical-align:middle;">
                            </div>
                        	<div class="caption">民族</div>
                        	<div id="nation">
                            	<input type="text " placeholder="{{stu.nation}}" name='nation' style="width:90px;vertical-align:middle;">
                            </div>
                   		</div>
                	</div>
               		<div id="student_photo">
                    	<div>
                        	<p>请上传个人照片</p>
                        	<br>
                        	<input type="file" name="file" style="width:90px;">
                        </div>
                    </div>
                    	<div class="line60">
                    		<div class="caption">电话</div>
                            <div id="student_telnumber">
                            	<input type="tel" name='phone' class="input_style1" placeholder="{{stu.phone}}">
                            </div>
                            <div class="caption">QQ</div>
                            <div id="qq_number">
                            	<input type="text" placeholder="{{stu.qq}}" name='qq' style="width:120px;vertical-align:middle;">
                            </div>
                            <div class="caption">邮箱</div>
                            <div id="email_add">
                            	<input type="email" placeholder="{{stu.email}}" name='email' style="width:210px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">政治面貌</div>
                            <div id="political">
                            	<select name="polity" > 
                                	<option>{{stu.polity}}</option>
                                	<option>群众</option>
                                    <option>共青团员</option>
                                    <option>预备党员</option>
                                    <option>中共党员</option>
                                    <option>民主党派</option>
                                </select>
                            </div>
                            <div class="caption">身份证号</div>
                            <div id="student_id_number">
                            	<input type="text" placeholder="{{stu.idcard}}" name='id' style="vertical-align:middle;width:210px;">
                            </div>
                            <div class="caption">出生年月</div>
                            <div id="birthday">
                            	<input type="text" placeholder="{{stu.birth}}" name='birth' style="width:120px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">宿舍（栋）</div>
                            <div id="dormitory_build">
                            	<input type="text" placeholder="{{stu.building}}" name='building' class="input_style1">
                            </div>
                            <div class="caption">宿舍（号）</div>
                            <div id="dormitory_number">
                            	<input type="text" placeholder="{{stu.room}}"  name='room' style="width:40px;vertical-align:middle;">
                            </div>
                            <div class="caption">特长</div>
                            <div id="specialty">
                            	<input type="text" placeholder="{{stu.specialty}}"  name='specialty' style="width:307px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">户口迁移</div>
                            <div id="census_migration">
                            	<select name="dommove" >
                                	<option selected>{{stu.dommove}}</option>
                                	<option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                            <div class="caption">户口所在地</div>
                            <div id="pop_location">
                            	<input type="text" name='domplacenew' style="width:130px;vertical-align:middle;" placeholder="{{stu.domplacenew}}">
                            </div>
                            <div class="caption">高考省市</div>
                            <div id="prov_exam">
                            	<input type="text" placeholder="{{stu.registplace}}"  name='registplace' style="width:215px;vertical-align:middle;">
                            </div>                            
                        </div>
                        <div class="line60">
                            <div class="caption">考生类型</div>
                            <div id="student_type">
                            	<select name="stutypex">
									<option selected>{{stu.stutypex}}</option>                                	
                                    <option>普通</option>
                                    <option>特长生</option>
                                    <option>自主招生</option>
                                    <option>少数民族预科</option>
                                </select>
                            </div>
                            <div class="caption">考生类别</div>
                            <div id="student_cate">
                            	<select name="stutypeb">
                                	<option>{{stu.stutypeb}}</option>
                                	<option>城镇应届</option>
                                    <option>城镇往届</option>
                                    <option>农村应届</option>
                                    <option>农村往届</option> 
                                </select>
                            </div>
                            <div class="caption">入学前单位</div>
                            <div id="before_college">
                            	<input type="text" placeholder="{{stu.highschool}}"  name='highschool' style="width:215px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">家庭邮编</div>
                            <div id="address_number">
                            	<input type="text" placeholder="{{stu.postcode}}"  name='postcode' class="input_style1">
                            </div>
                            <div class="caption">家庭电话</div>
                            <div id="home_tel_number">
                            	<input type="tel" placeholder="{{stu.homephone}}"  name='homephone' style="width:130px;vertical-align:middle;">
                            </div>
                            <div class="caption">家庭地址</div>
                            <div id="home_address">
                            	<input type="text" placeholder="{{stu.address}}"  name='address' style="width:213px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">父亲姓名</div>
                            <div id="dad_neme">
                            	<input type="text" placeholder="{{stu.faname}}"  name='faname' class="input_style1">
                            </div>
                            <div class="caption">工作单位</div>
                            <div id="dad_work_add">
                            	<input type="text" placeholder="{{stu.faworkunit}}"  name='faworkunit' style="width:226px;vertical-align:middle;">
                            </div>
                            <div class="caption">父亲电话</div>
                            <div id="dad_tel_number">
                            	<input type="tel" placeholder="{{stu.faphone}}"  name='faphone' style="width:120px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class="line60">
                        	<div class="caption">母亲姓名</div>
                            <div id="mom_name">
                            	<input type="text" placeholder="{{stu.maname}}"  name='maname' class="input_style1">
                            </div>
                            <div class="caption">工作单位</div>
                            <div id="mom_work_add">
                            	<input type="text" placeholder="{{stu.maworkplace}}"  name='maworkunit' style="width:226px;vertical-align:middle;">
                            </div>
                            <div class="caption">母亲电话</div>
                            <div id="mom_tel_number">
                            	<input type="tel" placeholder="{{stu.maphone}}"  name='maphone' style="width:120px;vertical-align:middle;">
                            </div>
                        </div>
                        <div class='row'>
        <div class='col-md-3'>   <input type="submit"  value="提交" id="confim"></div>
           <div class='col-md-6'>  <input type="reset"  value="重置"  id="reset">  </div>
                        </div>
			</div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
