{% extends "base.html" %}
{% block title %}信息管理系统{% endblock %}
{% block content %}
<nav class="navbar navbar-default ">
  <div class="container-fluid " >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class='pwl_spaceimg' src="http://www.me.uestc.edu.cn/image/logo.png">
      </a>
    </div>

<div class="navbar-text col-lg-5 col-xs-3 col-md-3 text-center " style='font-size:24px'  >
<strong  class="text-center " >学生信息管理系统</strong>
</div>
</br>
<div class="collapse navbar-collapse divcss5-right">
<a href='http://www.me.uestc.edu.cn' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a>
<a href='http://www.me.uestc.edu.cn/stu/index.php/Login/' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-user" aria-hidden="true">
</span>切换</a>
<a href='/app/upload/' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-upload" aria-hidden="true">
</span>导入</a>
<a href='/app/manage/' type="button" class="btn btn-default navbar-btn"> 
<span class="glyphicon glyphicon-cog" aria-hidden="true">
</span>管理</a>
</div>
</div>
</div>
</nav>
<h2 class="text-center ">{{q}}</h2>
{% endblock %}
