@charset "gb2312";
/* CSS Document */
body{
		margin:0px;
}
div{
		margin:auto;
}
.row{
margin-right: 2px;
margin-left: 2px;
}
#submit{
	margin-top: 40px;
	margin-left: 721px;
	height: 40px;
	width: 80px;
}
.top{
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:40px; 
	background-color:#6B6B6B;
	margin-bottom:10px;
	height:40px; 
	background-color:#6B6B6B; 
	margin-bottom:10px;
}
.navbar {
	margin-bottom: 0px;
}
.bottom{
	position:fixed; 
	bottom:0; left:0; 
	width:100%; 
	height:40px; 
	background-color:#CCCCCC;
}
.table1{
	width: 800px;
	height: 532px;
	border: 1px solid rgb(100%,100%,100%);
	font-weight: bold
}
.table2{
	width: 800px;
	height: 1000px;
	border: 1px solid rgb(100%,100%,100%);
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: bold
}
.caption{
	float: left;
	width: 90px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
.line120{
	float: left;
	width: 675px;
	height: 146px;
}
.line60{
	float: left;
	width: 800px;
	height: 48px;
}
.line40{
	float: left;
	width: 677px;
	height: 48px;
}
#reset{
	margin-top: 40px;
	margin-left:40px;
	height: 40px;
	width: 80px;
	margin-bottom: 32px;
}
#confim{
	margin-top: 40px;
	margin-left: 600px;
	height: 40px;
	width: 80px;
	margin-bottom: 32px;
}
#student_name{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#student_major{
	float: left;
	width: 341px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#student_number{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	

#student_class{
	float: left;
	width: 341px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#student_sex{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#native_place{
	float: left;
	width: 141px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#nation{
	float: left;
	width: 110px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
	
}
#student_photo{
	float: left;
	width: 121px;
	height: 144px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 20px;
	margin-left: 2px;
}
#student_telnumber{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#qq_number{
	float: left;
	width: 141px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#email_add{
	float: left;
	width: 231px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#political{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#student_id_number{
	float: left;
	width: 233px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#birthday{
	float: left;
	width: 139px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#dormitory_build{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#dormitory_number{
	float: left;
	width: 49px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#specialty{
	float: left;
	width: 323px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#census_migration{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#pop_location{
	float: left;
	width: 141px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
        line-height: 45px;
	overflow-y: scroll;
	text-align: center;
}
#prov_exam{
	float: left;
	width: 231px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#student_type{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#before_college{
	float: left;
	width: 231px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#student_cate{
	float: left;
	width: 141px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#address_number{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#home_tel_number{
	float: left;
	width: 141px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#home_address{
	float: left;
	width: 231px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	text-overflow: clip;
        line-height: 45px;
        overflow-y: scroll;


}	
#dad_neme{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}
#mom_name{
	float: left;
	width: 156px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 50px;
}	
#dad_work_add{
	float: left;
	width: 233px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 45px;
        overflow-y: scroll;

}	
#mom_work_add{
	float: left;
	width: 233px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 45px;
        overflow-y: scroll;

}
#dad_tel_number{
	float: left;
	width: 139px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
     line-height: 50px;

}		
#mom_tel_number{
	float: left;
	width: 139px;
	height: 48px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
     line-height: 50px;

}

.scholarship{
	float: left;
	width: 105px;
	height: 100px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 100px;
}
.scholarbox{
	float: left;
	width: 693px;
	height: 100px;
	border: 1px solid rgb(100%,100%,100%);
	text-justify: auto;
	text-align: center;
	line-height: 60px;
}
.scholararea{
	width: 692px; 
	height: 99px;
	resize:none;
}
				
